body{
    font-family: Arial;
}
#menu, #menu ul, #menu li{
    padding: 0;
    margin: 0;
}
#menu li {
    list-style: none;
    position: relative;
    width:200px;
    height: 40px;
    padding: 0 20px;
    background-color: burlywood;
    line-height: 30px;
    cursor:pointer;
}
#menu li a{
    text-decoration:none;
    color: blue;
}
#menu li:hover{
    background-color:yellow;

}
#menu ul ul{
    position: absolute;
    top:0;
    left:240px;
    visibility:hidden;
}
#menu ul li:hover ul{
    visibility:visible;
}